.table-img {
    width: 20px;
    height: 20px;
    
    img {
        width: 66px;
        height: 66px;
        transform: translate(-15px, -10px);
    }
}

.table-button-details {
    transform: translate(33px, 21px);
    background-color: white !important;
    color: #156976 !important;
    border-color: #156976 !important;
}